<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta content="en-gb" http-equiv="Content-Language" />
<meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
<title>Send a ping to ping.php</title>
</head>

<body>

<form action="ping.php" method="post">
	<input name="method" type="text" value="Method" /><br />
	<input name="title" type="text" value="Title" /><br />
	<input name="message" type="text" value="Message" /><br />
	<input name="location" type="text" value="Location" /><br />
	<br />
	<input name="ping" type="submit" value="Ping it" />
</form>

</body>

</html>
